.post-type-typeit-effect #poststuff {
	@import 'mixins';
	@import 'variables';
	@import 'components/Appender';
	@import 'components/FeedbackList';
	@import 'components/Box';

	#post-body-content {
		display: none;
	}

	code {
		padding: 7px;
    	border-radius: 3px;
	}

	fieldset {
		i {
			color: gray;
		}
	}

	label {
		cursor: pointer;
	}

	input {
		width: auto;
		margin: 0;
	}

	textarea,
	select,
	input[type="number"],
	input[type="text"] {
		width: 100%;
		min-height: 35px;
    	border-radius: 3px;
	}

	input[type="number"] {
		width: auto;
	}
}

#tiPreview {
	font-size: 25px;
    margin: 15px 0 20px;
	display: inline-block;
	line-height: normal;
}
