.Appender {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 23px;
    border-radius: 50%;
    color: rgba(0,0,0,.25);
    text-align: center;
    border: 2px solid $gray;
    cursor: pointer;
    
    &:hover {
        background: $gray;
        color: white;
    }

    &:before {
        content: '+';
    }

    &--minus {
        margin-left: 10px;
        
        &:before {
            content: '-';
        }
    }
}

.AppenderWrapper {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;

    p {
        margin: 0 0 0 5px !important;
    }
}