.BoxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px 15px;

  @include media($mobile) {
    display: block;
  }
}

.Box {
  background: white;
  
  @supports not (display: grid) {
    margin: 30px 0 20px 0;
  }

  &:first-child {
    grid-column: 1 / 3;
    padding-top: 10px;
    width: 100%;
  }

  p {
    margin-top: 3px;
    opacity: .75;
    font-size: 12px;
    line-height: 1.25;
  }
}

.Box-label {
  font-weight: bold;
  margin: 0;
  font-size: 13px;

  span {
    color: $pink;
  }
}

.Box-inputHelper {
	flex: 1 0 100%;
  margin-left: 8px;
  font-style: italic;
  color: $gray--dark;
  max-width: calc(100% - 24px);
}

.Box-fieldWrapper {
	display: flex;
  align-items: center;

  &:first-of-type {
    .Appender {
      display: none;
    }
  }
  
  & + .Box-fieldWrapper {
    margin-top: 10px;
  }
}

.Box--standOut {
  border: 1px solid $gray;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  padding: 15px 18px;
}

.Box-disclaimer {
  color: grey;
  font-size: 12px;
  display: block;
  padding-left: 26px;
  font-style: italic;
  margin-top: -5px;

  .Box-checkboxGroup & {
    @media screen and (max-width: 782px) {
      padding-left: 35px;
    }
  }
}

